<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
        <script src="jquery.js"></script>
    </head>
    <body>
        <div>
            <h3><%= name %></h3>
            <div class="div-control">
                <a href="/show/<%= id - 1 %>">Trở lại</a>
                <a href="/show/<%= id + 1 %>">Tiếp</a>
            </div>
            <hr />
            <img src="<%= image %>" width="300" alt="">
            <hr />
            <div class="div-control">
                <a href="/like/<%= id %>" id="a-like"><%= like %> Like</a>
                <a href="#"><%= dislike %> Dislike</a>
            </div>
        </div>
        <a id="a-fetch" href="#">FETCH DATA</a>
        <br />
    </body>
    <script>
        // $('#a-fetch').click((e) => {
        //     e.preventDefault();
        //     $.get('http://localhost:3000/views', data => console.log(data))
        // });

        $('#a-like').click((e) => {
            e.preventDefault();
            $.get('/like/<%= id %>', data => {
                $('#a-like').html(data + ' Like')
            });
        });
    </script>
</html>
